# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Transana
*.po
app.fil
DBTest.py
ffmpeg_Transana (OS X)
ffmpeg_Transana (Linux)
ffmpeg_Transana.exe
disti18n.py
Fixi18nFiles.py
Funding-orig.txt
Funding.txt
*.bak
LineCounter.py
*.iss
metasetup.py
mki18n.py
MySQLforPythonInstaller.py
*.bat
profile.txt
pydoc.py
TransanaConfigConstantsLab.py
TransanaConfigConstantsDemo.py
RegenDocs.py
setup.py
setupMac.py
TransanaConfigConstantsMU.py
TransanaConfigConstantsPro.py
TransanaConfigConstantsSU.py
TransanaConfigConstantsWorkshop.py
translate.py
242_250_Conversion
242_250_Conversion_Lab/
242_250_Conversion_Single/
250 Upgrade Utility/
Audio Extract/
build Intel - OLD/
build PPC - OLD/
Build_Mac_260/
Cloud Service/
locale/
SSL/
TransanaDemonstrationSetupDir/
TransanaLabSetupDir/
TransanaMultiUserSetupDir/
TransanaProfessionalSetupDir/
TransanaStandardSetupDir/
TransanaWorkshopSetupDir/
CreateTempTxt.py
deforder.py
FixHelpFiles.py
License_de.txt
License_es.txt
License_it.txt
audioextract
License.txt
MakeClassDoc.py
MakeModuleDoc.py
msvcp90.dll
msvcr90.dll
setup_PyRTFParserDemo.py
share (mac)/
share/
TransanaColorDefs*
help/Manual and Tutorial 3.0 Outline.docx
RichTextEditCtrl_RTC - Copy.py
TranscriptEditor_RTC - Copy.py
WaveformProgress - SubProcess.py
WaveformProgress - wxProcess.py
BatchFileProcessor - Multi.py
BatchFileProcessor - Single.py
*.DS_Store
unit_test_search.py
unit_test_database.py
unit_test_form_check.py
unit_test_language_utility.py
unit_test_misc.py
unit_test_search.py
unit_test_SSL.py
images/Embedded/tmp.py
images/Embedded/ArtProviderBitmapSaver.py
Unit Tests/RTC_Cmd_B.py
MessageServer/TestChatWindow.py
MessageServer/TestChatWindow_SSL.py
MessageServer/TestChatWindow2.py
MessageServer/TestChatWindow1.py
Unit Tests/OrphanCheck.py
unit_test_database.py
242_250 Upgrade Utility/242_250_Conversion.py
242_250 Upgrade Utility/ConfigData.py
242_250 Upgrade Utility/Dialogs.py
242_250 Upgrade Utility/GdiPlus.dll
242_250 Upgrade Utility/LIBMYSQLD.dll
242_250 Upgrade Utility/msvcp71.dll
242_250 Upgrade Utility/OptionsSettings.py
242_250 Upgrade Utility/RTFDoc.py
242_250 Upgrade Utility/RichTextEditCtrl.py
242_250 Upgrade Utility/TextDoc.py
242_250 Upgrade Utility/RTFParser.py
260_300 Upgrade Utility/260_300_Conversion.py
242_250 Upgrade Utility/images/transana.ico
260_300 Upgrade Utility/ConfigData.py
260_300 Upgrade Utility/GdiPlus.dll
260_300 Upgrade Utility/images/transana.ico
260_300 Upgrade Utility/LIBMYSQLD.dll
260_300 Upgrade Utility/Dialogs.py
260_300 Upgrade Utility/msvcp71.dll
260_300 Upgrade Utility/RichTextEditCtrl.py
260_300 Upgrade Utility/RTFDoc.py
260_300 Upgrade Utility/RTFParser.py
260_300 Upgrade Utility/OptionsSettings.py
260_300_Conversion/GdiPlus.dll
260_300 Upgrade Utility/TextDoc.py
260_300_Conversion/260_300_Conversion.exe
260_300_Conversion/images/transana.ico
260_300_Conversion/library.zip
260_300_Conversion/LIBMYSQLD.dll
260_300_Conversion/msvcp71.dll
260_300_Conversion/python26.dll
260_300_Conversion/wxmsw30u_core_vc90.dll
260_300_Conversion/wxbase30u_net_vc90.dll
260_300_Conversion/wxbase30u_vc90.dll
260_300_Conversion/wxmsw30u_stc_vc90.dll
260_300_Conversion/wxmsw30u_html_vc90.dll
260_300_Conversion/wxmsw30u_adv_vc90.dll
260_300_Conversion/w9xpopen.exe
260_300_Conversion_Lab/260_300_Conversion.exe
260_300_Conversion_Lab/GdiPlus.dll
260_300_Conversion_Lab/images/transana.ico
260_300_Conversion_Lab/LIBMYSQLD.dll
260_300_Conversion_Lab/library.zip
260_300_Conversion_Lab/msvcp71.dll
260_300_Conversion_Lab/python26.dll
260_300_Conversion_Lab/w9xpopen.exe
260_300_Conversion_Lab/wxbase30u_net_vc90.dll
260_300_Conversion_Lab/wxbase30u_vc90.dll
260_300_Conversion_Lab/wxmsw30u_adv_vc90.dll
260_300_Conversion_Lab/wxmsw30u_core_vc90.dll
260_300_Conversion_Lab/wxmsw30u_html_vc90.dll
260_300_Conversion_Lab/wxmsw30u_stc_vc90.dll
260_300_Conversion_Single/260_300_Conversion.exe
260_300_Conversion_Single/GdiPlus.dll
260_300_Conversion_Single/images/transana.ico
260_300_Conversion_Single/LIBMYSQLD.dll
260_300_Conversion_Single/library.zip
260_300_Conversion_Single/msvcp71.dll
260_300_Conversion_Single/python26.dll
260_300_Conversion_Single/w9xpopen.exe
260_300_Conversion_Single/wxbase30u_net_vc90.dll
260_300_Conversion_Single/wxbase30u_vc90.dll
260_300_Conversion_Single/wxmsw30u_adv_vc90.dll
260_300_Conversion_Single/wxmsw30u_core_vc90.dll
260_300_Conversion_Single/wxmsw30u_html_vc90.dll
260_300_Conversion_Single/wxmsw30u_stc_vc90.dll
