# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Transana
*.po
app.fil
DBTest.py
ffmpeg_Transana (OS X)
ffmpeg_Transana (Linux)
ffmpeg_Transana.exe
disti18n.py
Fixi18nFiles.py
Funding-orig.txt
Funding.txt
*.bak
LineCounter.py
*.iss
metasetup.py
mki18n.py
MySQLforPythonInstaller.py
*.bat
profile.txt
pydoc.py
TransanaConfigConstantsLab.py
TransanaConfigConstantsDemo.py
RegenDocs.py
setup.py
setupMac.py
TransanaConfigConstantsMU.py
TransanaConfigConstantsPro.py
TransanaConfigConstantsSU.py
TransanaConfigConstantsWorkshop.py
translate.py
242_250_Conversion
242_250_Conversion_Lab/
242_250_Conversion_Single/
250 Upgrade Utility/
Audio Extract/
build Intel - OLD/
build PPC - OLD/
Build_Mac_260/
Cloud Service/
locale/
SSL/
TransanaDemonstrationSetupDir/
TransanaLabSetupDir/
TransanaMultiUserSetupDir/
TransanaProfessionalSetupDir/
TransanaStandardSetupDir/
TransanaWorkshopSetupDir/
CreateTempTxt.py
deforder.py
FixHelpFiles.py
License_de.txt
License_es.txt
License_it.txt
audioextract
License.txt
MakeClassDoc.py
MakeModuleDoc.py
msvcp90.dll
msvcr90.dll
setup_PyRTFParserDemo.py
share (mac)/
share/
TransanaColorDefs*
help/Manual and Tutorial 3.0 Outline.docx
RichTextEditCtrl_RTC - Copy.py
TranscriptEditor_RTC - Copy.py
WaveformProgress - SubProcess.py
WaveformProgress - wxProcess.py
